*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body{
    background: #f5f5f5;
    max-width: 1400px;
    margin: 40px auto;

}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-list{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    gap: 12px;
    margin: 12px;
}

.logo{
    margin:12px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}



.pizza-component {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pizza-img {
    width: 300px; /* Set a fixed width for the image container */
    height: 180px; /* Set a fixed height for the image container */
}

.pizza-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjusts the image to cover the entire container */
    border-radius:  6px;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sold-out{
    filter: grayscale(100%);
}

.logo{
    width: 7
    6px;
    height: 76px;
}