.body{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.steps{
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin:20px  auto;
}

.numbers{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.numbers div{
    background-color: #ccc;
    padding: 6px 11px;
    color: #333;
    border-radius: 100%;
}

.message{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons button{
    background-color: #b042ee;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
}

.buttons button:hover{
    background-color: #9c3de8;
}

.active{
    background-color: #9c3de8 !important;
    color: white !important;
}

.close{
    font-size: 28px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


